# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build output
build/
dist/
.docusaurus/
.cache-loader/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
lambda_build/
*.zip

# Logs
*.log

# OS
.DS_Store
